<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search user form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
    <body>
        <h1>Search User</h1>
        <form action="#" th:action="@{/search-user}" th:object="${userAttributeSearch}" method="post">
            <p>First Name: <input type="text" th:field="*{firstName}" /></p>
            <p>Second Name: <input type="text" th:field="*{secondName}" /></p>
            <p><input type="submit" value="Submit" id = "submitButton" />
                <input type="reset" value="Reset" />
                <a href="/input-user">Input user</a>
                <a href="/send-message">Send a message</a></p>
    </body>
</html>